
.container_Input{
    margin: 200px auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 350px;
    padding: 20px 0;
    flex-direction: column;
}
.container_Input a{
    margin-left: 270px;
}
table td{
    padding: 0 10px;
}
table{
    margin-left: 20px;
}
input{
    padding: 10px;
}
button{
    padding: 7px;
    border-radius: 10px;
    color: white;
    background-color: #28a745;
    margin-left: 40%;
    margin-top: 10px;
}
.inputForm{
    padding-left: 8px;
}
h3{
    text-align: center;
}
