.main-app {
    display: flex;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

.main-app .container-content {
    display: flex;
    flex-direction: column;
    flex: 1;
 
}
.main-app .container-content .container-item .container-top #form-data  .ct-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}
.main-app .container-content .container-title {
    margin: 14px 0 0 0;
}
.main-app .container-content .container-item {
    margin:  0 0 0 50px;
}
.main-app .container-content .container-item .container-top {
    display: flex;
    flex-direction: column;
}
.container-top .ct-button #btnThem {
    width: 90px;
    height: 34px;
    margin: 8px 44px 0 0;
    background-color:#0B7DDA;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

element.style {
    z-index: 100;
}
.ui-widget-overlay {
    background: #ccc;
    opacity: .5;
}

input[type=text] {
    width: 312px;
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
}
.check-box-indexs {
    width: 42px;
}
.check-box-indexs input {
    margin: 4px 0 0 0px;
}
input[type=text] {
    border: 1px solid #ccc;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 97.5%;
    padding: 0 0 0 28px;
}
#customers td,
#customers th {
    border-bottom: 2px solid #ddd;
    padding: 8px;

}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #0066ff; */
    color:#000;
}
.size-img {
background-size: cover;
width: 104px;
height: auto;

}


.main .container-web .container-app .container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main {
    display: flex;
    
}
.container-top .ct-button #btnXoa {
    width: 70px;
    height: 34px;
    margin:0 54px 0 0 ;
    background-color: #0066ff;
    color: #fff;
    border-radius: 4px;
    margin: 8px 52px 0 0px;
}

.container-top .ct-button #btnXoa:disabled {
    background-color: #ccc;
}
.text-right {
    text-align: right;

}


/* ShowDialpgs */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.main .container-app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    width: 1000px;
    height: 850px;
    border-radius: 15px;
} 
form input{
    width: 1170px !important;
}
.text-cencter {
    text-align: center !important;

}
form .txtTieuDe {

    height: 44px;
}
form .txtTomTat {
    height: 84px;
}
form .txtNoiDung {
    height: 134px;
    width: 1170px;
}
form .fileUpload {
    height: 47px;
}
form #dateNgayDang {
    width: 230px !important;
 }
.main-app .container-item .tintuc #customers .customer-tintuc .tc {
    padding: 0 0 0 22px;
}

.main .container-web {
    background-color: whitesmoke;
    flex: 1;
    position: relative;
    overflow: hidden;
}

form {
    margin-left: 20px;
    margin-top: 10px;
}

 #btnAdd {
    background-color: #28a745 !important;
    color: white !important;
    padding: 4px 10px !important;
}
/* ENDdialog */