.main{
    display: flex;
}
.container-web{
    flex: 1;
    height: 100vh;
}

h3{
    font-size: 30px;
    margin: 10px auto 30px auto;
}
.divmain{
    background: linear-gradient( -45deg, #23a6d5,#23d5ab);
    /* border-radius: 2%; */
    max-width: 100%;
    max-height: 100%;
    min-height: 92%;
    color: white;
    margin: 5px;
    padding-top: 10px;
    position: relative;
}
.sear{
    padding-bottom: 5px;
    padding-left: 5px;
}

.txtSearch[type="text"]{
    background: rgba(231, 231, 231, 0.397);
    background-image: url(https://img.icons8.com/pastel-glyph/2x/ffffff/search--v2.png); 
    background-position: left;
    background-size: 22px;
    border-right: none;
    border-left: none;
    border-top: none;
    font-size: 12px;
    border-color: #FFEB3B;
    background-repeat: no-repeat;
    padding:5px 8px 5px 28px;
    outline: none;
    margin-bottom: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
}
.txtSearch[type="text"]::placeholder{
    color: rgba(255, 255, 255,0.8);
}
.txtSearch:focus{
    border-bottom-color: #E91E63;
    transition: 1s;

}
.btnSearch{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align-last: center;
    font-size: 17px;
    padding: 4px 20px 5px 20px;
    margin-left: 10px;
    background-color: rgba(233,30,99, 0.9);
    border: none;
    color: white;
}
.btnAdd{
    border: none;
    font-weight: bold;
    text-align-last: center;
    background-color: rgba(246, 79, 89, 0.9);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 20px ;
    color: white;
    align-items: right;
    text-decoration: none;
}