
  .divmain{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }
  .tb{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(231, 231, 231, 0.397);
   }
  .tbl-content{
    height:390px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  .tb>thead>tr>th{
    padding: 20px 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  .tb>tbody>tr>td{
    align-items: center;
    padding: 12px 5px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  


  
  
    /* Thanh cuộn */
    ::-webkit-scrollbar {
    width: 6px;
    } 
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.603); 
    }
  
  