*
{
    margin: 0px;
    padding: 0px;
}
.header
{
    background-color: red;
    height: 64px;
}
.title
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 24px auto;
    width: 600px;
    justify-content: space-between;
    font-size: 20px;
}
.back
{
    color: red;
   text-decoration: none;
}
h1
{
    font-size: 20px;
}
.cart__list
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 600px;
    padding: 20px;
}
.cart__img
{
    width: 150px;
    height: 150px;
    padding: 20px;
}
.cart__item__content
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item__name
{
    padding: 40px 0px 0px 10px;
    max-width: 400px;
}
.item__cost
{
    padding: 20px 0px 0px 20px;
    color: red;
}
.cart__item__footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.cart__item--selectnumber
{
    font-size: 18px;
    font-weight: bold;
    display: flex;
}
.update-number
{
    text-decoration: none;
    color:black;
    display: block;
    font-size: 26px;
    line-height: 100%;
    padding: 4px 14px;
    text-align: center;
    border: 1px solid gray;
}
.select-number
{
    font-size: 18px;
    width: 24px;
    padding: 5px 5px 5px 16px;
}
.cart__item--delete
{
    color: red;
    font-size: 18px;
    margin-left: 300px;
    text-decoration: none;
    line-height: 30px;
}
.cart__item
{
    padding: 20px 0px;
}
.totalcost
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 600px;
    padding: 20px;
    justify-content: space-between;
    font-size: 18px;
    color: red;
    font-weight: bold;
}
.cus-info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 600px;
    padding: 20px;
}
.cus-info__title, .receive-item__title
{
    padding: 30px 0px;
}
.cus-info__row
{
    padding: 10px 0px;
}
.input
{
    font-size: 16px;
    width: 100%;
    padding: 8px;
}
.text__input
{
    font-size: 16px;
    padding-bottom: 4px;
}
.receive-item
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 600px;
    padding: 20px;
}
.receive-item__select
{
    display: flex;
    margin-bottom: 36px;
}
.receive-item__select__content
{
    width: 200px;
    font-size: 17px;
}
.receive-item__input__hide
{
    display: none;
    margin-bottom: 10px;
}
.payment__order
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-bottom: 30px;
}
.btnOrder
{
    background-color: blue;
}
.btnPay 
{
    background-color: red;
}
.btnpaymentorder
{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.paymemnt-online__title
{
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 40px 0px;
    font-weight: bold;
    font-family: sans-serif;
}
