*
{
    margin: 0px;
    padding: 0px;
}
.header
{
    background-color: red;
    height: 64px;
}
.content__search
{
    
    width: 1200px;
    margin: auto;
    text-align: center;
    background-color: lightgray;
    padding-bottom: 50px;
}
.content__search__body
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 60px;
}
.title__text
{
    font-size: 26px;
    padding: 40px 0px;
}
.labelInput__type
{
    font-size: 22px;
}
.search__input
{
    font-size: 18px;
    padding: 6px;
    margin-left: 16px;
    outline: none;

}
.btn__search
{
    height: 100%;
    width:180px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.list__bill
{
    padding: 50px 20px 50px 20px;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    
}
.bill__element
{
    border: 8px ridge black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 5px #888888;
    margin-bottom: 100px;
}
h4
{
    padding: 4px;
}
.bill__ID
{
    width: 100%;
    text-align: center;
    padding: 30px 0px 30px 0px;
    color: red;
    font-weight: bolder;
    font-size: 22px;
}
.bill__info
{
    padding: 12px 50px;
}
.bill_list__title
{
    padding: 30px 0px 30px 85px;
    color: red;
    font-weight: bolder;
    font-size: 20px;
}
.bill__list__content
{
    display: flex;
    flex-direction: column;
}
.bill__item
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.bill__item__info
{
    display: flex;
    flex-direction: row;
    
}
.mess__content
{
    display: flex;
    flex-direction: row;
    height: 493px;
    justify-content: space-evenly;
    
}
.item__img
{
    width: 140px;
    padding: 4px 30px;
}
.item__amount, .item__name, .item__cost
{
    margin: auto;
    padding: 0px 20px 0px 10px;
    font-weight: bold;
}
.item__name
{
    width: 320px;
}
.bill__total
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
    font-size: 22px;
    font-weight: bolder;
    padding: 50px 45px 70px 80px;
    
}
.hide
{
    display:none;
}
.mess__img
{
    width: 200px;
}
.mess
{
    height: 493px;
    background-color: blanchedalmond;
}
.mess__text, .div__mess__img
{
    font-size: 55px;
    margin: auto 0px;
    font-family: monospace;
}
