*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    position: relative;
    display: block;
    box-shadow: 0 -5px 5px -5px rgba(199, 195, 195, 0.445);
}
footer a{
    text-decoration: none;
}
footer .footer--content .introduce_phone>a:hover,
footer .footer--menu a:hover{
    color: blue !important;   
}
.row
{
    display: flex;
    justify-content: space-around;
}
.col{
    flex: 1;
}
.padding--footer{
    padding: 15px 50px;
}
/* ------------------------------------------------ */
.footer--menu{
    background-color: white;
}
.footer--card>div{
    display: inline-block;
    padding: 0 2px;
}
.footer--menu--findStore .footer--card img{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(199, 195, 195, 0.445);
}

.footer--menu .footer--menu--findStore a,
.footer--menu .footer--menu--call p,
.footer--menu .footer--menu--Search a,
.footer--menu .footer--menu--policy a{
    color: black;
    font-size: 13px;
    line-height: 1.6;
    display: block;

}
.footer--menu .footer--menu--findStore h3,
.footer--menu .footer--menu--call h3,
.footer--menu .footer--menu--Search h3,
.footer--menu .footer--menu--policy h3{
    font-size: 15px;
    padding: 10px 0;
}
.footer--menu--call .partner{
    width: 86px;
    height: 30px;
    margin-top: 10px;
}
.footer--menu--call .partner img{
    width: 100%;
    height: 100%;
}

.footer--contact::after{
    clear: both;
    content: "";
}
.footer--contact{
    background-color: rgba(199, 195, 195, 0.445);
    height: 170px;
}
.content{
    height: 500px;
    background-color: white;
}
footer .footer--content{
    display: flex;
    justify-content: space-around;
    
   
}

.hot_phone .header_textPhone h3{
    display: inline-block;
    font-size: 13px;
}
.hot_phone .introduce_phone a{
    font-size: 10px;
}
.hot_phone .header_textPhone h3 a,
.hot_phone .introduce_phone a{
    color: black;
}
.hot_phone .introduce_phone--border a{
    border-right: 0.1px solid black;
    padding-right: 4px;
}
.hot_phone .introduce_phone--border a:last-child{
    border-right: none;
}
footer .address-contact p
{
    text-align: center;
    font-size: 10px;
    opacity: 0.4;
   
   
}
footer .address-contact{
   
}