.header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #f33535;
    z-index: 11;
    display: flex;
    height: 64px;
}
.header__background{
    width: 100%;
    height: 64px;
    background-color: #f33535;
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 10;
}
.header__height{
    height: 64px;
    width: 100px;
}
/* Header logo */
.header__logo__wrapper{
    width: 30px;
    height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.header__logo{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 6px; 
}
.header__logo__line__1st{
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: white;
    top: 24px;
    left: 6px;
    border-radius: 10px;
}
.header__logo__line__2nd{
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: white;
    top: 31px;
    left: 6px;
    border-radius: 10px;
}
.header__logo__line__3rd{
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: white;
    top: 38px;
    left: 6px;
    border-radius: 10px;
}
/* header logo image */
.header__logo__img{
    margin-right: 10px;
}
.header__logo__img a img{
    height: 63px;
}
/* Location Store */
.header__location{
    width: 120px;
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 15px;
}
.header__location__submenu{
    width: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    position: absolute;
    top: 90%;
    z-index: 31;
    left: 226px;
    display: none;
    animation:submenu-show-up ease 0.3s ;
}
@keyframes submenu-show-up{
    from{
        display: none;
        opacity: 0;        
        transform: translateY(-15%);
    }
    to{
        display: none;
        opacity: 1;
        transform: translateY(0%);
    }
}
.header__location__submenu__modal{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 30;
    animation: modal-show-up ease 0.2s;
}
@keyframes modal-show-up{
    from{
        display: none;
        background-color: rgba(0,0,0,0.0);
    }
    to{
        display: block;
        background-color: rgba(0,0,0,0.5);
    }
}
.header__location__icon{
    margin-right: 5px;
}
.header__location__icon i{
    font-size: 0.9rem;
}
.header__location__desc{
    display: flex;
    flex-direction: column;
}
.header__location__desc__1st{
    font-size: 0.7rem;
    line-height: 15px;
}
.header__location__desc__2nd{
    display: flex;
}
.header__location__desc__2nd__text{
    font-size: 0.8rem;
}
.header__location__desc__2nd__icon{
    font-size: 0.6rem;  
    font-weight: 900;
    margin-top: 4px;
    margin-left: 5px;
}

.header__location__submenu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__location__submenu__item{
    max-height: 26px;
    width: 100%;
    transition: all ease 0.1s;
}
.header__location__submenu__item:hover{
    background-color: rgba(0,0,0,0.1);
}
.header__location__submenu__item:first-child{
    background-color: #e8cece;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header__location__submenu__item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header__location__submenu__item__link{
    color: #333333;
    display: flex;
    padding: 5px 20px;
}
.header__location__submenu__item__link__icon{
    font-size: 0.7rem;
}
.header__location__submenu__item__link__text{
    font-size: 0.85rem;
}
/* Header Search */
.header__search__bar{
    width: 438px;
    height: 34px;
    margin-right: 15px;
    display: flex;
    position: relative;
    top: 15px;
    margin-right: 15px;
}
.header__search__bar__icon{
    width: 26px;
    background-color: white;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.header__search__bar__icon i{
    color: rgba(0,0,0,0.6);
}
.header__search__bar__input{
    width: 412px;
    height: 100%;
}
.header__search__bar__input input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 5px;
    color: rgba(0,0,0,0.6);
}
.header__search__bar__modal{
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    z-index: 30;
    animation: modal-show-up ease 0.3s;
}
/* Navbar list */
.header__navbar{
    height: 42px;
    margin-top: 11px;
    width: 506px;
}
.header__navbar__list{
    display: flex;
   justify-content: space-between;
}
.header__navbar__item__link{
    display: flex;
    color: white;
    align-items: center;
}
.header__navbar__item__link i{
    font-size: 1.7rem;
    margin-right: 5px;
}
.header__navbar__item__link__desc__wrapper p{
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.header__navbar__item:last-child .header__navbar__item__link{
    display: flex;
    flex-direction: column;
}
.header__navbar__item__wrapper{
    width: 120%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    padding: 5px 0;
    transition: all ease 0.1s;
}
.header__navbar__item:hover .header__navbar__item__wrapper{
    background-color: #cc2f40;
}
.header__navbar__item__wrapper 
.header__navbar__item__link 
.header__navbar__item__link__icon__wrapper i{
    margin: 0;
    font-size: 1.1rem;
}
.header__navbar__item__wrapper__last{
    width: 120%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc2f40;
    border-radius: 8px;
    padding: 5px 0;
}
.header__navbar__item__link__icon__wrapper__last{
    display: flex;
    justify-content: center;
}
.header__navbar__item__wrapper__last a i{
    margin: 0;
    font-size: 1.1rem;
}

.smartphone__header__location,
.smartphone__slider,
.tablet__header__background,
.tablet__slider,
.tablet__header__top,
.tablet__header__logo,
.tablet__header__top__right,
.tablet__header__bottom,
.smartphone__header__logo,
.smartphone__header__search,
.smartphone__shopping__cart,
.tablet__header__logo,
.tablet__header__search,
.tablet__shopping__cart,

.tablet__brand__wrapper__column


{
    display: none;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
    user-select: none;
}
.grid{
    width: 100%;
    display: block;
    padding: 0;
}
.wide{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 ;
}






.width{
    width: 20px;
    background-color: #d70018;
}


@media (max-width: 739px){
    html{
        width: 100vw;
    }
    .m-2{
        width: 50%;
    }
    .wide{
        width: 355px;
        margin: 0 auto;
    }
    .flash__sale__product__list__wrapper{
        overflow-x: auto;  
    }
    ::-webkit-scrollbar{
        display: none;
    }
    
    .tablet__header__logo,
    .tablet__header__search,
    .tablet__shopping__cart,
    .tablet__modal,
    .slider__top__wrapper__tablet,
    .slider__display:block
    .web__ads__box__tablet__img{
    display: block;
    }   
   
    .header__background{
        width: 370px;
        height: 54px;
        position: fixed;
        z-index: 9999999999999;
        margin: 0 auto;
        display: flex;
        padding: 10px;
    }
    .smartphone__header__logo{
        width: 34px;
        display: block;
        height: 34px;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid white;
        margin-right: 10px;
    }
    .smartphone__header__logo img{
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
    }
    .smartphone__header__search{
        min-width: 146px;
        display: block;
        height: 35px;
        margin-right: 10px;
    }
    .smartphone__header__search i{
        color: #444;
        display: block;
        background-color: white;
        padding: 9px 5px 9px 5px;
        float: left;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        height: 35px;
    }
    .smartphone__header__search input{
        height: 100%;
        display: block;
        width: 120px;
        border: none;
        outline: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        color: #444;
    }
    .smartphone__header__location{
        width: 100px;
        height: 34px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 8px;
        display: flex;
        padding: 8px 5px;
        align-items: center;
        color: rgba(255,255, 255, 0.7);
        margin-right: 10px;
    }
    .smartphone__header__location i:first-child{
        font-size: 1rem;
        margin-right: 2px;
    }
    .smartphone__header__location__desc{
        font-size: 0.7rem;
    }
    .smartphone__header__location__desc p:first-child{
        font-size: 0.6rem;
    }
    .smartphone__header__location__desc p:last-child{
        display: flex;
        font-size: 0.6rem;
    }
    .smartphone__shopping__cart{
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 45px;
        height: 34px;
        background-color: rgba(255,255,255,0.3);
        border-radius: 8px;
        color: white;
    }
    .smartphone__shopping__cart i{
        font-size: 0.6rem;
        margin-top: 6px;
        margin-bottom: 5px;
    }
    .smartphone__shopping__cart p{
        font-size: 0.6rem;
    }
    .tablet__modal{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        display: none;
        z-index: -1;
    }
    .smartphone__modal{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: -1;
        display: none;
    }
    .header__height{
        height: 54px;
    }
    
   

}