/* Slide */
/* Slidebar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.slide {
    margin-top: 15px;
    margin-bottom: 15px;
}

.slidebar {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}

.slidebar__item {
    height: 31px;
    padding: 0 8px;
}

/* Slide Subnav */
.slidebar__item__submenu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 220px;
    min-height: 372px;
    background-color: white;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    display: none;
}

.slidebar__item:hover .slidebar__item__submenu {
    display: block;
}

.slidebar__item__submenu__item {
    height: 31px;
    padding: 0 10px;
    position: relative;
    transition: all ease 0.1s;
}

/* Subnav second */
/* Điện thoại */
.slidebar__item__submenu__second {
    position: absolute;
    top: 0;
    left: 100%;
    width: 220px;
    min-height: 372px;
    background-color: white;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    display: none;
    transition: all ease 0.1s;
}

.slidebar__item__submenu__item:hover .slidebar__item__submenu__second {
    display: block;
}

/*  End Điện thoại */
/* PC */

/* End PC */
/* End Subnav Second */
.slidebar__item__submenu__item__link {
    color: #333333;
    font-size: 0.8rem;
    line-height: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slidebar__item__submenu__item__link i {
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.9);
}

/* End Slide Subnav */
.slidebar__item__submenu__item:hover,
.slidebar__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.slidebar__item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.slidebar__item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.slidebar__item__link {
    color: #333333;
    display: flex;
    justify-content: space-between;
    transform: translateY(30%);
}

.slidebar__item__link__text__wrapper {
    display: flex;
}

.slidebar__item__link__text__wrapper__icon__box {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidebar__item__link__text__wrapper p {
    font-size: 0.9rem;
}

.grid.wide.slide {
    padding-top: 10px;
}


.slidebar__item__link__icon__last__wrapper {}

.slidebar__item__link__icon__last__wrapper i {
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.9);
}



/* Slider */
.slider {
    display: flex;
    flex-direction: column;
    margin-right: 15px;

}

.slider__top {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider__top__next__btn {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 60px;
    transform: translate(30px, -50%);
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
    transition: all ease 0.3s;
}

.slider__top__next__btn i {
    color: white;
    font-size: 1rem;
}

.slider__top__prev__btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 60px;
    transform: translate(-30px, -50%);
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
    transition: all ease 0.3s;
}

.slider__top__prev__btn i {
    color: white;
    font-size: 1rem;
}

.slider__top__prev__btn:hover,
.slider__top__next__btn:hover {
    cursor: pointer;
}

.slider__top:hover .slider__top__next__btn {
    transform: translate(0, -50%);
}

.slider__top:hover .slider__top__prev__btn {
    transform: translate(0, -50%);
}

.slider__top__item {
    width: 100%;
    height: 100%;
}

.slider__top__wrapper {
    display: flex;
    transition: all ease 1s;
}

.slider__top__wrapper img {}

.slider__top__wrapper a {
    width: 100%;
    height: 100%;
}

.slider__bottom {
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    height: 72px;
    overflow: hidden;
}

.slider__bottom__list {
    height: 100%;
    display: flex;
    position: relative;
}

.slider__bottom__item {
    width: 140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.1s;
    flex: 1 0 20%;
    position: relative;
}

.slider__bottom__item__underline {
    content: '';
    position: absolute;
    left: 50%;
    width: 0%;
    height: 3%;
    background-color: #c40016;
    top: 97%;
    transition: all ease 0.5s;
}

.slider__bottom__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.slider__bottom__item:hover .slider__bottom__item__underline {
    left: 0%;
    width: 100%;
}

.slider__bottom__item__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}

.slider__bottom__item__link__text__1st {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.slider__bottom__item__link__text__2nd {
    font-size: 0.7rem;
}

.row .pc__slider__wrapper {
    flex: 1;
}

.c-7 {
    width: 58.333%;
    display: block;
}

.c-3 {
    width: 25%;
}

.c-2 {
    width: 16.667%;
}

/* Slider Ads */
.slide__ads__wrapper {
    width: 296px;
    height: 112px;
    border-radius: 10px;
    overflow: hidden;
}

.slide__ads__wrapper:not(:last-child) {
    margin-bottom: 17px;
}

.slide__ads__wrapper img {
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
}

.slide__ads__wrapper img:hover {
    transform: scale(1.03);
}


/* End Slider */
.main .web__ads.gird.wide {
    padding: 12px 0 0 0;
}


.main .web__ads.gird.wide .row .web__ads__box__pc__img {
    border-radius: 10px;
}


/* content */

.main .container-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container-content .product-Home-dienthoai {
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .container-content .product-Home-dienthoai .box-title a {
    color: #000;
}

.main .container-content .product-Home-dienthoai .box-title>a:hover {
    text-decoration: underline;
}

.main .container-content .product-Home-dienthoai .box-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 0 0 0;
}


.main .container-content .product-Home-dienthoai .box-title .box-list-item a {
    color: #000;
}

.main .container-content .product-Home-dienthoai .box-title .box-list-item .item {
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;



}

.main .container-content .block-products .box-products {
    margin: 10px 0 0 0;
}

.main .container-content .block-products .box-products .list-product {
    display: flex;
    flex-wrap: wrap;
}

.main .container-content .block-products .box-products .list-product .item-product {
    width: 230px;
    height: 393px;
    padding: 10px;
    min-height: 202px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 8px;

    margin: 0 10px 10px 0;

}

.main .container-content .block-products .box-products .list-product .item-product:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}


.main .container-content .block-products .box-products .list-product .item-product .promotion {
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #E5E7EB;
    background: #F3F4F6;
}

.main .container-content .block-products .box-products .list-product .item-product .item-product__box-img {
    margin: 2rem 0 1.5rem 0;
}

.main .container-content .block-products .box-products .list-product .item-product .item-product__box-price:last-child {
    margin-bottom: 1rem !important;
}

.main .container-content .block-products .box-products .list-product .item-product .item-product__box-price .special-price {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    color: #D70018;
}

.main .container-content .block-products .box-products .list-product .item-product .item-product__box-name p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

